gitPR_15APR_GargiMahajan (1).json
{
  "name": "gitPR_15APR_GargiMahajan",
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "https://github.com/GargiAiinfox",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "workflow",
          "mode": "list",
          "cachedResultName": "workflow",
          "cachedResultUrl": "https://github.com/GargiAiinfox/workflow"
        },
        "events": [
          "push"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        360,
        0
      ],
      "id": "d4df4e70-5c68-4adb-83c8-6ff0927375e1",
      "name": "Github Trigger",
      "webhookId": "5b13050f-46d6-4433-8c3e-31f647298571",
      "credentials": {
        "githubApi": {
          "id": "11hFyUxgBBIu0LRf",
          "name": "GitHub account 6"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.body.commits[0].url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        0
      ],
      "id": "b1952396-04ea-45fe-9a15-fb41b87cebb9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 2,
        "options": {}
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        840,
        0
      ],
      "id": "93036c1e-be35-432d-ae20-13582604f7e1",
      "name": "Jira Software",
      "alwaysOutputData": true,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "XN36ohPEIGBFZF6U",
          "name": "Jira SW Cloud account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Compare the GitHub commit changes  {{ \n  Object.values($('HTTP Request').item.json.body.payload.diffEntryData)\n    .flatMap(entry => entry.diffLines.map(line => line.text))\n    .join('\\n') \n}} with the Jira ticket details:\n- Issue Key: {{ $('Code').item.json.key }}\n- Issue id:{{ $('Code').item.json.id }}\n- Issue Name: {{ $('Code').item.json.ticketName }}\n- Issue Description:{{ $('Code').item.json.description }}\nDetermine if the changes align with the ticket's purpose (e.g., workflow testing for AIP-10). Return a single word: 'aligns' if they match, 'does not align' if they don’t, in a field named 'result'.\nuse the tool to update the status to completed",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1480,
        120
      ],
      "id": "2ed522aa-d53c-41cd-a973-1818feacf52b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1360,
        380
      ],
      "id": "8d368c2d-5422-4c10-baf9-10628cf9936f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KHoYjqu2lJt03lhm",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    ticketName: item.json.fields.summary || '',\n    key: item.json.key || '',\n    id: item.json.id || '',\n    description: item.json.fields.description || '',\n    status: item.json.fields.status.name || ''\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        0
      ],
      "id": "d5333b8b-f9f3-41ec-92f2-862b8e75a544",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1280,
        20
      ],
      "id": "3fc7b6ba-a578-48d1-8a41-f87fa15edef2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool only when you need to update the Jira ticket status to completed.",
        "operation": "update",
        "issueKey": "={{ $json.key }}",
        "updateFields": {
          "statusId": {
            "__rl": true,
            "mode": "id",
            "value": "",
            "__regex": "^([0-9]{1,})"
          }
        }
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        1740,
        380
      ],
      "id": "2e265098-6b4e-46b3-a192-bf2805f6805f",
      "name": "Jira Software1",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "lcsvMZjtQQZJbalw",
          "name": "Jira SW Cloud account Gargi"
        }
      }
    }
  ],
  "pinData": {
    "Github Trigger": [
      {
        "json": {
          "body": {
            "ref": "refs/heads/main",
            "before": "72be252ef238a2505331e191ca5dacb490e1b07d",
            "after": "92bab335fb94aea06d13b63c4ee2c2a85b0db9ea",
            "repository": {
              "id": 963697943,
              "node_id": "R_kgDOOXDdFw",
              "name": "workflow",
              "full_name": "GargiAiinfox/workflow",
              "private": false,
              "owner": {
                "name": "GargiAiinfox",
                "email": "gargi.mahajan@aiinfox.com",
                "login": "GargiAiinfox",
                "id": 206186613,
                "node_id": "U_kgDODEoodQ",
                "avatar_url": "https://avatars.githubusercontent.com/u/206186613?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/GargiAiinfox",
                "html_url": "https://github.com/GargiAiinfox",
                "followers_url": "https://api.github.com/users/GargiAiinfox/followers",
                "following_url": "https://api.github.com/users/GargiAiinfox/following{/other_user}",
                "gists_url": "https://api.github.com/users/GargiAiinfox/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/GargiAiinfox/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/GargiAiinfox/subscriptions",
                "organizations_url": "https://api.github.com/users/GargiAiinfox/orgs",
                "repos_url": "https://api.github.com/users/GargiAiinfox/repos",
                "events_url": "https://api.github.com/users/GargiAiinfox/events{/privacy}",
                "received_events_url": "https://api.github.com/users/GargiAiinfox/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/GargiAiinfox/workflow",
              "description": null,
              "fork": false,
              "url": "https://api.github.com/repos/GargiAiinfox/workflow",
              "forks_url": "https://api.github.com/repos/GargiAiinfox/workflow/forks",
              "keys_url": "https://api.github.com/repos/GargiAiinfox/workflow/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/GargiAiinfox/workflow/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/GargiAiinfox/workflow/teams",
              "hooks_url": "https://api.github.com/repos/GargiAiinfox/workflow/hooks",
              "issue_events_url": "https://api.github.com/repos/GargiAiinfox/workflow/issues/events{/number}",
              "events_url": "https://api.github.com/repos/GargiAiinfox/workflow/events",
              "assignees_url": "https://api.github.com/repos/GargiAiinfox/workflow/assignees{/user}",
              "branches_url": "https://api.github.com/repos/GargiAiinfox/workflow/branches{/branch}",
              "tags_url": "https://api.github.com/repos/GargiAiinfox/workflow/tags",
              "blobs_url": "https://api.github.com/repos/GargiAiinfox/workflow/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/GargiAiinfox/workflow/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/GargiAiinfox/workflow/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/GargiAiinfox/workflow/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/GargiAiinfox/workflow/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/GargiAiinfox/workflow/languages",
              "stargazers_url": "https://api.github.com/repos/GargiAiinfox/workflow/stargazers",
              "contributors_url": "https://api.github.com/repos/GargiAiinfox/workflow/contributors",
              "subscribers_url": "https://api.github.com/repos/GargiAiinfox/workflow/subscribers",
              "subscription_url": "https://api.github.com/repos/GargiAiinfox/workflow/subscription",
              "commits_url": "https://api.github.com/repos/GargiAiinfox/workflow/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/GargiAiinfox/workflow/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/GargiAiinfox/workflow/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/GargiAiinfox/workflow/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/GargiAiinfox/workflow/contents/{+path}",
              "compare_url": "https://api.github.com/repos/GargiAiinfox/workflow/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/GargiAiinfox/workflow/merges",
              "archive_url": "https://api.github.com/repos/GargiAiinfox/workflow/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/GargiAiinfox/workflow/downloads",
              "issues_url": "https://api.github.com/repos/GargiAiinfox/workflow/issues{/number}",
              "pulls_url": "https://api.github.com/repos/GargiAiinfox/workflow/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/GargiAiinfox/workflow/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/GargiAiinfox/workflow/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/GargiAiinfox/workflow/labels{/name}",
              "releases_url": "https://api.github.com/repos/GargiAiinfox/workflow/releases{/id}",
              "deployments_url": "https://api.github.com/repos/GargiAiinfox/workflow/deployments",
              "created_at": 1744260025,
              "updated_at": "2025-04-16T07:31:53Z",
              "pushed_at": 1744789216,
              "git_url": "git://github.com/GargiAiinfox/workflow.git",
              "ssh_url": "git@github.com:GargiAiinfox/workflow.git",
              "clone_url": "https://github.com/GargiAiinfox/workflow.git",
              "svn_url": "https://github.com/GargiAiinfox/workflow",
              "homepage": null,
              "size": 47,
              "stargazers_count": 1,
              "watchers_count": 1,
              "language": "Python",
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 0,
              "license": null,
              "allow_forking": true,
              "is_template": false,
              "web_commit_signoff_required": false,
              "topics": [],
              "visibility": "public",
              "forks": 0,
              "open_issues": 0,
              "watchers": 1,
              "default_branch": "main",
              "stargazers": 1,
              "master_branch": "main"
            },
            "pusher": {
              "name": "GargiAiinfox",
              "email": "gargi.mahajan@aiinfox.com"
            },
            "sender": {
              "login": "GargiAiinfox",
              "id": 206186613,
              "node_id": "U_kgDODEoodQ",
              "avatar_url": "https://avatars.githubusercontent.com/u/206186613?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/GargiAiinfox",
              "html_url": "https://github.com/GargiAiinfox",
              "followers_url": "https://api.github.com/users/GargiAiinfox/followers",
              "following_url": "https://api.github.com/users/GargiAiinfox/following{/other_user}",
              "gists_url": "https://api.github.com/users/GargiAiinfox/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/GargiAiinfox/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/GargiAiinfox/subscriptions",
              "organizations_url": "https://api.github.com/users/GargiAiinfox/orgs",
              "repos_url": "https://api.github.com/users/GargiAiinfox/repos",
              "events_url": "https://api.github.com/users/GargiAiinfox/events{/privacy}",
              "received_events_url": "https://api.github.com/users/GargiAiinfox/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            },
            "created": false,
            "deleted": false,
            "forced": false,
            "base_ref": null,
            "compare": "https://github.com/GargiAiinfox/workflow/compare/72be252ef238...92bab335fb94",
            "commits": [
              {
                "id": "92bab335fb94aea06d13b63c4ee2c2a85b0db9ea",
                "tree_id": "b766a09b583399f10732479e06cb8259713f222e",
                "distinct": true,
                "message": "Update README.md",
                "timestamp": "2025-04-16T13:10:16+05:30",
                "url": "https://github.com/GargiAiinfox/workflow/commit/92bab335fb94aea06d13b63c4ee2c2a85b0db9ea",
                "author": {
                  "name": "GargiAiinfox",
                  "email": "gargi.mahajan@aiinfox.com",
                  "username": "GargiAiinfox"
                },
                "committer": {
                  "name": "GitHub",
                  "email": "noreply@github.com",
                  "username": "web-flow"
                },
                "added": [],
                "removed": [],
                "modified": [
                  "README.md"
                ]
              }
            ],
            "head_commit": {
              "id": "92bab335fb94aea06d13b63c4ee2c2a85b0db9ea",
              "tree_id": "b766a09b583399f10732479e06cb8259713f222e",
              "distinct": true,
              "message": "Update README.md",
              "timestamp": "2025-04-16T13:10:16+05:30",
              "url": "https://github.com/GargiAiinfox/workflow/commit/92bab335fb94aea06d13b63c4ee2c2a85b0db9ea",
              "author": {
                "name": "GargiAiinfox",
                "email": "gargi.mahajan@aiinfox.com",
                "username": "GargiAiinfox"
              },
              "committer": {
                "name": "GitHub",
                "email": "noreply@github.com",
                "username": "web-flow"
              },
              "added": [],
              "removed": [],
              "modified": [
                "README.md"
              ]
            }
          },
          "headers": {
            "host": "crmsgateway.com",
            "x-real-ip": "140.82.115.203",
            "x-forwarded-for": "140.82.115.203",
            "x-forwarded-proto": "https",
            "connection": "close",
            "content-length": "7523",
            "user-agent": "GitHub-Hookshot/d67dd85",
            "accept": "*/*",
            "content-type": "application/json",
            "x-github-delivery": "0a6ca28a-1a96-11f0-8a51-f9a1cf22d7b4",
            "x-github-event": "push",
            "x-github-hook-id": "541318384",
            "x-github-hook-installation-target-id": "963697943",
            "x-github-hook-installation-target-type": "repository"
          },
          "query": {}
        }
      }
    ]
  },
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Jira Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Software": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Software1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "690169e9-a706-4605-b612-6e06efac4cb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5c6b610d2f0a9d0a9e3b214b00fce1d00c96fc283e27ee702b1036d00caca37"
  },
  "id": "YyfWZt2CFafus8uK",
  "tags": []
}
